<!--Do stuff with the user? maybe show something else?-->
<div id="headerwrap">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <h1>Outdoor questions, answered.</h1>
        <p>Find answers, articles, and discussionas about outdoor thangs.</p>
      </div>
    </div>
  </div>
</div>
<!--maybe show some messages? or popular posts. some other call to action.-->
