<!--Do stuff with the user? maybe show something else?-->
<div id="headerwrap">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <% if logged_in? %>
        <h1>A one stop shop.</h1>
        <p>Find answers, articles, and discussions about the outdoors and travel.</p>
        <%= link_to 'Share a Post', new_item_path, class: 'btn btn-lg' %>
        <% else %>
        <h1>A one stop shop.</h1>
        <p>Find answers, articles, and discussions about the outdoors and travel.</p>
        <%= link_to 'Share a Post', new_user_path, class: 'btn btn-lg' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<!--maybe show some messages? or popular posts. some other call to action.-->
