<!--Do stuff with the user? maybe show something else?-->
<div id="headerwrap">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <% if logged_in? %>
        <h1>Outdoor questions, answered. Also news.</h1>
        <p>Find answers, articles, and discussions about outdoor thangs.</p>
        <% else %>
        <h1>Outdoor questions, answered. Also news.</h1>
        <p>Find answers, articles, and discussions about outdoor thangs.</p>
        <%= link_to 'Join the Community', new_user_path, class: 'btn' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<!--maybe show some messages? or popular posts. some other call to action.-->
