<h1>Hello</h1>
<p>This is a site for sharing outdoor/travel news, links, and discussions, modeled after communities like Designer News and Hacker News.</p>

<h2>Be nice.</h2>
<p>I'll add more guidelines here as they develop, but for now, be nice, don't over-self promote or advertise, and be respectful of everyone in the community. Thanks!</p>
