<div class="col-lg-6 col-lg-offset-3">
  <h1>Hello</h1>
  <p>This is a site for sharing outdoor/travel news, links, and discussions, modeled after communities like Designer News and Hacker News.</p>
  <h2>Be nice.</h2>
  <p>I'll add more guidelines here as they develop, but for now, be nice, don't over-self promote or advertise, and be respectful of everyone in the community. Thanks!</p>

  <h2>Invites</h2>
  <p>Still working out some kinks right now, so I'm limiting the folks who have full access. Tweet <a href='http://www.twitter.com/kylefrost'>@kylefrost</a> for an invite!</p>
</div>
