// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

li.item {
  margin-top: 10px;

  small {
    color: #BBB;
  }

  a {
    color: #000000;
    background-color: #FFFFFF;
    &:hover {
      color: #FFFFFF;
      background-color: #000000;
    }
  }
}
li.media{
  border-bottom: 1px solid #f7f7f7;
  padding: 20px 0px;
  margin: 0px;
  background: white;

  .media-left{
    padding: 10px;
    background: #efefef;
    margin-right: 15px;
    display: inline-block;
    border-radius: 4px;
  }
  .media-body{
    display: inline-block;
    width: auto;
  }
  .media-heading{
    a{
    color: #232323;
    font-size: 24px;
  }
  }
}
.item-tabs{
  border-bottom: 1px solid #efefef;
  padding: 15px 0;
  li{
    display: inline;
    list-style-type: none;
    margin-right: 30px;
    &:active{
      color: #232323;
    }
    a{
      font-size: 18px;
      font-weight: 600;
      color: #232323;
      &:active{
        color: #232323;
      }
    }
  }
}

.item_comment{
  background: #fff;
  padding: 20px 0;
  border-bottom: 1px solid #efefef;
  .item_comment--meta{
    font-size: 14px;
    padding: 0px;
    margin:0px;
  }
  .item_comment--content{
    font-size: 18px;
    padding: 0px;
    margin: 0px;
  }

}



@import 'https://fonts.googleapis.com/css?family=Montserrat:400,700';
.aa-input-container {
  display: inline-block;
  position: relative; }
.aa-input-search {
  width: 300px;
  padding: 12px 28px 12px 12px;
  border: 2px solid #e4e4e4;
  border-radius: 4px;
  -webkit-transition: .2s;
  transition: .2s;
  font-family: "Montserrat", sans-serif;
  box-shadow: 4px 4px 0 rgba(241, 241, 241, 0.35);
  font-size: 11px;
  box-sizing: border-box;
  color: #333;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }
  .aa-input-search::-webkit-search-decoration, .aa-input-search::-webkit-search-cancel-button, .aa-input-search::-webkit-search-results-button, .aa-input-search::-webkit-search-results-decoration {
    display: none; }
  .aa-input-search:focus {
    outline: 0;
    border-color: #3a96cf;
    box-shadow: 4px 4px 0 rgba(58, 150, 207, 0.1); }
.aa-input-icon {
  height: 16px;
  width: 16px;
  position: absolute;
  top: 50%;
  right: 16px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: #e4e4e4; }
.aa-hint {
  color: #e4e4e4; }
.aa-dropdown-menu {
  background-color: #fff;
  border: 2px solid rgba(228, 228, 228, 0.6);
  border-top-width: 1px;
  font-family: "Montserrat", sans-serif;
  width: 300px;
  margin-top: 10px;
  box-shadow: 4px 4px 0 rgba(241, 241, 241, 0.35);
  font-size: 11px;
  border-radius: 4px;
  box-sizing: border-box; }
.aa-suggestion {
  padding: 12px;
  border-top: 1px solid rgba(228, 228, 228, 0.6);
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .aa-suggestion:hover, .aa-suggestion.aa-cursor {
    background-color: rgba(241, 241, 241, 0.35); }
  .aa-suggestion > span:first-child {
    color: #333; }
  .aa-suggestion > span:last-child {
    text-transform: uppercase;
    color: #a9a9a9; }
.aa-suggestion > span:first-child em, .aa-suggestion > span:last-child em {
  font-weight: 700;
  font-style: normal;
  background-color: rgba(58, 150, 207, 0.1);
  padding: 2px 0 2px 2px; }
