// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

li.item {
  margin-top: 10px;

  small {
    color: #BBB;
  }

  a {
    color: #000000;
    background-color: #FFFFFF;
    &:hover {
      color: #FFFFFF;
      background-color: #000000;
    }
  }
}
li.media{
  border-bottom: 1px solid #f7f7f7;
  padding: 20px 0px;
  margin: 0px;
  background: white;

  .media-left{
    padding: 10px;
    background: #efefef;
    margin-right: 15px;
    display: inline-block;
    border-radius: 4px;
    @media screen and (max-width: 480px) {
      width: 15%;
    }
  }
  .media-body{
    display: inline-block;
    width: auto;
    @media screen and (max-width: 480px) {
      width: 70%;
    }
  }
  .media-heading{
    a{
    color: #232323;
    font-size: 24px;
    @media screen and (max-width: 480px) {
      font-size: 18px;
    }
  }
  }
}
.item-tabs{
  border-bottom: 1px solid #efefef;
  padding: 15px 0;
  li{
    display: inline;
    list-style-type: none;
    margin-right: 30px;
    &:active{
      color: #232323;
    }
    a{
      font-size: 18px;
      font-weight: 600;
      color: #232323;
      &:active{
        color: #232323;
      }
    }
  }
}

.item_comment{
  background: #fff;
  padding: 20px 0;
  border-bottom: 1px solid #efefef;
  .item_comment--meta{
    font-size: 14px;
    padding: 0px;
    margin:0px;
  }
  .item_comment--content{
    font-size: 18px;
    padding: 0px;
    margin: 0px;
  }

}



.search-result{
  border-bottom: 1px solid #efefef;
  padding: 20px 0;
  .search-body{
    h3{
      color: #2323233;
      margin: 0px;
    }
    .search-meta{
      font-size: 16px;
      margin: 0px;
    }
  }
}
